/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]in/
/[Ll]ogs/
/[Bb]uild/
/[Bb]uilds/
/[Bb]undles/
/[Uu]serSettings/
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/Assets/Mods/
/Assets/Mods.meta
/Assets/Shared/
/Assets/Shared.meta
/Assets/AssetRaw/DLL/
/Assets/AssetRaw/DLL.meta
/HybridCLRData/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unitypackage
/.vs/
/.idea/
.DS_Store
Thumbs.db
